.button{
        -fx-background-color:  rgb(255, 255, 255);
        -fx-text-align: center;
        -fx-text-fill : black;
        text-decoration: none;
        -fx-border-style: solid;
        -fx-border-width: 2px;
        -fx-border-color: rgb(150, 186, 255);/* blue */
        -fx-border-radius: 10px;

}


#header-footer{
    -fx-background-color: rgb(20, 163, 248)
}
#body-font{
    -fx-font:  lighter 18px 'Open Sans';
}

#mainpane{
    -fx-background-color : rgb(255, 255, 255)
}

#heading-font{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font:  normal 30px 'Open Sans';
}
